<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Zarejestruj się aby utworzyć konto e-learning</h1>
  <form action="/register" method="POST">
    <div class="loginSection">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required><br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required><br>
    <button type="submit">Register</button>
  </div>
  </form>
</body>
</html>