<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.ProjektConnectionString"
            connectionString="Data Source=B3-105;Initial Catalog=Projekt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.DaneConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Dane;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.FinalConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Final;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.DataCurrencyFinalConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=DataCurrencyFinal;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.DataConnectionString"
            connectionString="Data Source=DESKTOP-S69LRE7\SERWER;Initial Catalog=Data;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.DaneConnectionString1"
            connectionString="Data Source=DESKTOP-S69LRE7;Initial Catalog=Dane;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>